.slider {
    &__item {
        margin-right: 30px;
        img {
            display: block;
            width: 466px;
            height: 323px;
        }
        &:focus, &:active {
            outline: none;
        }
    }
    &__name {
        margin-top: 24px;
        font-family: 'Prata', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 1;
        color: #121925;
    }
    &__range {
        margin-top: 100px;
        width: 1458px;
        height: 1px;
        background-color: #A8A8A8;
        &::-webkit-slider-thumb {
            width: 54px;
            height: 11px;
            background: #E8232E;
            border-radius: 5.5px;
        }
    }
}
